@import "../../sass/utils/variables.scss";

.hostRating {
  display: flex;
  align-items: center;

  &__icon {
    margin-left: 5px;

    @media (max-width: 992px) {
      width: 25px;
      height: auto;
    }

    @media (max-width: 768px) {
      width: 15px;
      height: auto;
    }
  }
}


.host{
  display: flex;
  justify-content: flex-end;

  &__name {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 992px) {
      font-size: 15px;
    }

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__name p {
    margin: 0;
    text-align: end;
  }

  &__picture {
    border-radius: 50%;
    height: 64px;
    width: 64px;

    @media (max-width: 992px) {
      height: 48px;
      width: 48px;
    }

    @media (max-width: 768px) {
      height: 32px;
      width: 32px;
    }
  }
}


.tag {
  background: $primary-color;
  border-radius: 10px;
  color: $secondary-color;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 68px;
  text-align: center;

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;

    @media (max-width: 992px) {
      font-size: 12px;
    }

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}


.apartment {
  color: $primary-color;
  

  @media (max-width: 768px) {
    margin: 0 20px;
  }

  &__content {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    @media (max-width: 992px) {
      font-size: 18px;
    }
  }

  &__location {
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 500;
    @media (max-width: 992px) {
      font-size: 14px;
    }
  }

  &__tags {
    display: flex;
  }

  &__HostRating {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__dropdowns {
   display:flex;
   justify-content:space-between;
   
    //column-gap: 80px;
    position:relative;
    
    .apartment__collapses{

      width:47%;
    }
    @media (max-width: 768px) {
      display:flex;
      flex-direction:column;

      .apartment__collapses{

        width:100%;
      }
    }

    @media (max-width: 992px) {
      column-gap: 40px;
    }
    &__list {
      padding-bottom: 5px;
    }

    &__collapses{
      width:50%;
      
    }
  }
}
