@import "../../../sass/utils/_variables.scss";

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 68px;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  @media all and (min-width: 992px) {
    margin-bottom:40px;
  }

  @media all and (max-width: $max-width) {
    margin-top: 28px;
    font-size: 18px;
    height:50px;
    margin-bottom:6px;
  }

  &__logo img {
    height: 50px;
    width: 180px;
   

    @media all and (max-width: $max-width) {
      height: 47px;
      
    }
  }
}
