@import "../../sass/utils/_variables.scss";
.banner{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 63px ;
    max-width: 1240px;
    width: 100%;
    object-fit: cover;
   
    border-radius: 25px;



  

    @media all and (max-width: $max-width) {
      height: 111px;
  
      padding:7px;
    }

    &__text{
        position: absolute;
        font-size: 48px;
        color: #fff;
        z-index: 1;
        @media all and (max-width: $max-width) {
          margin-left: 36px;
          margin-right: 36px;
          font-size: 24px;
        }
      }

    &__img{
        width: 100%;
        height: 223px;
        border-radius: 25px;
        filter: brightness(60%);

        @media all and (max-width: $max-width) {
            border-radius:10 10 10 10;
        }
    }
  }
  
